<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="marketplace">
<head>
  <!-- META -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

  <title>Cabify Marketplace</title>

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
  <link rel="stylesheet" href="./style.css">
  <style>
    html                    { overflow-y:scroll; }
    body                    { padding-top:50px; }
    #item-list              { margin-bottom:30px; }
  </style>

  <!-- SPELLS -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
  <script src="./core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL BASKETS -->
<body ng-controller="mainController">
  <div class="container">

    <!-- HEADER AND BASKET COUNT -->
    <div class="jumbotron text-center">
      <h1>My baskets <span class="label label-info">{{ basketCount }}</span></h1>
    </div>

    <!-- BASKET LIST -->
    <div id="basket-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <!-- LOOP OVER THE BASKETS IN $scope.baskets -->
          <div ng-repeat="basket in baskets">
            <div class="container">
              <h3 class="accordion">
                BASKET {{ basket.id }}
              </h3>
              <div class="accordion-content container">
                <div class="row" ng-repeat="(itemCode, item) in items">
                  <div class="col col-sm-2">{{ item.name }}: {{ basket.items[itemCode] || 0 }}</div>
                  <div class="col col-sm-2">
                    <button class="btn btn-success" ng-click="addItem(basket.id, itemCode)">+</button>
                    <button class="btn btn-warning" ng-click="removeItem(basket.id, itemCode)">-</button>
                  </div>
                </div>
                <div class="row totalPrice">
                  <div class="col-sm-2">
                    <strong>Total:</strong> {{ basket.totalPrice }}€
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <button ng-click="deleteBasket(basket.id)" class="btn btn-danger">
                      Delete basket
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>

    <div id="new-basket-button">
      <button ng-click="newBasket()" class="btn btn-primary">New basket</button>
    </div>
  </div>

</body>
</html>